:root {
--primary-color: #0F3A45;
--secondary-color: #59767A;
--tertiary-color: #BBC2C5;
}

body {
color: var(--tertiary-color);
font-family: cursive;
background-color: var(--primary-color);
}

header {
padding: 40px 25px;
background-color: var(--primary-color)
}


header h1 {
font-weight: bold;
font-size: 40px;
color: var(--tertiary-color);
margin: 0;
display: inline;
}

.fitness {
color: var(--secondary-color);
}

header a {
text-decoration: none;
color: var:(var(--primary-color))
}

header nav {
display: right;
margin: 7px 0;
float: right;
}

header nav ul li {
display: inline;
}


header nav ul li a {
margin: 0 30px;
font-weight: lighter;
font-size: 20px;
}

* {
margin: 0;
padding: 0;
}


footer {
background: var(--primary-color);
width: 100%;
padding: 40px 35px;
}

footer h2 {
display: inline;
color: var(--secondary-color);
font-size: 30px;
margin: 0;
}

footer div {
float: right;
line-height: 1.5;
text-align: right;
}

footer a {
color: var(--secondary-color);
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.primary-border {
border-color: var(--primary-color);
}


.secondary-border {
border-color: var(--tertiary-color);
}

/* Hero Style Start */
.dumbells {
background-image: url("../images/victor-freitas-WvDYdXDzkhs-unsplash.jpg");
height: 600px;
background-size: cover;
background-position: center;
position: relative;
}

.intra {
text-align: center;
background-color: var(--secondary-color);
font-size: 45px;
margin-top: 35px;
margin-bottom: 35px;
}

.photome img {
float: right;
height: 400px;
width: 400px;
margin-right: 32px;
}

.intra-title {
font-size: 45px;
}

.intra-bio p {
font-size: 25px;
}

.second {
text-align: center;
background-color: var(--secondary-color);
font-size: 45px;
margin-top: 35px;
margin-bottom: 35px;
}





.program {
width: 100%;
margin: 0 auto;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin: 0 auto 20px auto;
background: var(--secondary-color);
color: var(--tertiary-color);
flex: 1;

}

.program img {
width: 25%;
float: left;
}



.program-bio {
padding: 35px;
float: left;
width: 65%;
line-height: 1.3;
}


.program-bio h3 {
font-size: 28px;
}


.program-bio p  {
font-size: 17px;
}


.prices {
font-size: 25px;
text-align: center;
}


.outro {
font-size: 25px;
text-align: center;
background-color: var(--secondary-color);
}

.outro h3 { 
  text-align: center;
  font-size: 35px;
}

.services {
text-align: center;
background-color: var(--secondary-color);
font-size: 45px;
margin-top: 35px;
margin-bottom: 35px;
}

.consult {
text-align: center;
background-color: var(--secondary-color);
font-size: 45px;
margin-top: 35px;
margin-bottom: 35px;
}

        /* SERVICE STYLES BEGIN */
        .services {
          background: var(--primary-color); 
        }
        
        .service-grid-wrapper {
          display: flex;
          width: 100%;
          justify-content: center;
        }
        
        .service-grid-container {
          background: var(--tertiary-color);
          width: 80%;
          display: grid;
          /* repeat(iterator, size) */
          grid-template-columns: 1fr repeat(2, 4fr);
          grid-template-rows: repeat(5, 1fr) 2fr;
          border: 2px solid #024e76;
          color:  #024e76;
          font-size: 1.2rem;
        }
      
        .service-grid-item {
          padding: 15px 0;
          border: 2px solid #024e76;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
      
      /* specific match */
      .service-grid-item.basic {
          grid-column: 2 / span 1;
        }
      
        .service-grid-item.both {
          grid-column: 2 / span 2;
        }
      
        .service-grid-item.cancel {
          writing-mode: vertical-lr;
          grid-column: 1;
          grid-row: 1 / -1;
          transform: rotate(180deg);
      
        }
      
      
        .grid-head, .grid-price, .service-grid-item.cancel {
          font-size: 1.5rem;
          font-weight: bold;
        }


 


